.Navlink a{
  display: inline-block;
  padding: 20px;
  font-size: large;
  text-decoration: none;
  font-weight: bolder;

}
.Navlink{
  background-color: #ff0606;
}

.Signup{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Login{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputBox{
  display: block;
  margin: 15px;
  padding: 15px;
  width: 350px;
  border: 1px solid orange;
}

.appButton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: orange;
  border: 1 px solid black;
}